/* Layout */

.df-proxmox-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Logo Main Main Main Actions"
    "CPU RAM HDD Swap Network";
}

.CPU { grid-area: CPU; }

.RAM { grid-area: RAM; }

.HDD { grid-area: HDD; }

.Logo { grid-area: Logo; }

.Main {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Name Name Name"
    "Uptime Uptime Uptime"
    "Other Other Other";
  grid-area: Main;
}

.Name { grid-area: Name; }

.Uptime { grid-area: Uptime; }

.Other { grid-area: Other; }

.Network { grid-area: Network; }

.Swap { grid-area: Swap; }

.Actions {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "MainAction"
    "Unused";
  grid-area: Actions;
}

.MainAction { grid-area: MainAction;  }

.Unused { grid-area: Unused; }

/* Guage */
    :root {
      --pane-width: 4px;
      --chart-width: 50px;
      --chart-height: 25px;
      --pointer-width: 4px;
    }

    .df-guage {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: lightblue;
    }

    /*.df-guage,*/
    .grayed {
      width: var(--chart-width);
      height: var(--chart-height);
      border-top-left-radius: var(--chart-height);
      border-top-right-radius: var(--chart-height);
      overflow: hidden;
    }


    .df-guage::before,
    .grayed::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      top: var(--pane-width);
      bottom: 0;
      left: var(--pane-width);
      right: var(--pane-width);
      border-top-left-radius: calc(var(--chart-width)/2);
      border-top-right-radius: calc(var(--chart-width)/2);
      background-color: #fff;
    }

    .colored {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: var(--chart-height);
      background: conic-gradient(from -90deg at 50% 100%, #4CC62D 0deg, #FABA2A 90deg, #F24C4F 180deg, rgba(230, 0, 0, 0) 360deg);
    }

    .grayed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: var(--chart-height);
      z-index: 3;
      background-color: #494949;
      transition: all 0.5s;
      transform-origin: 50% 100%;
      transform: rotateZ(150deg);
    }

    .grayed::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 4;
      width: var(--chart-height);
      height: var(--pointer-width);
      background: linear-gradient(to right, #eee, #000);
      bottom: 0;
      left: 0;
    }